#mobile {
    display: none;
}

/* #desktop {
    display: initial;
} */

@media only screen and (max-width: 768px) {
    #mobile {
        display: initial;
    }
    #desktop {
        display: none; 
    }
}